<p>users-list works!</p>
<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="15px">
  <div fxLayout="row">
    <button mat-raised-button color="accent" class="mat-buttom-wrapper" routerLink="/user-add">+</button>

  </div>
  <h4 *ngIf="loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="theUser && !loading">
    <div fxFlex="33"
         *ngFor="let user of theUser">
      <mat-card>
        <mat-card-content>
          <div>{{user.firstName}} {{user.lastName}}</div>
          <p>ID: {{user.id}}</p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutGap="5px">
          <span fxFlex></span>
          <button routerLink="/users/{{user.id}}"
                  mat-mini-fab
                  color="accent">
            <i class="fas fa-info" >Detail</i>
          </button>
          <button routerLink="/user-update/{{user.id}}"
                  mat-mini-fab
                  color="primary" class="mat-buttom-wrapper">
            <i class="fas fa-pencil-alt">Update</i>
          </button>
          <button (click)="delete(user.id) "
                  mat-mini-fab
                  color="accent" class="mat-buttom-wrapper">
            <i class="fas fa-trash-alt">Delete</i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


