<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="15px">
  <div fxLayout="row">
    <mat-button-toggle routerLink="/user-add">+</mat-button-toggle>
  </div>
  <h4 *ngIf="loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="theUser && !loading">
    <div fxFlex="33"
         *ngFor="let user of theUser">
      <mat-card>
        <mat-card-content>
          <div>{{user.firstName}} {{user.lastName}}</div>
          <p>ID: {{user.id}}</p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutGap="5px">
          <span fxFlex></span>
          <mat-button-toggle-group>
            <mat-button-toggle routerLink="/users/{{user.id}}">Details</mat-button-toggle>
            <mat-button-toggle routerLink="/user-update/{{user.id}}">Update</mat-button-toggle>
            <mat-button-toggle (click)="delete(user.id)">Delete</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>




