<div fxLayout="column"
     fxFill
     fxlayoutgap="10px">
  <div fxLayout="row" fxLayoutAlign="center top">
    <mat-card-header>
      <h1>Add new SmartPhone!</h1>
    </mat-card-header>
    <mat-card fxflex="33">
      <form [formGroup]="smartPhoneForm" (ngSubmit)="save()">
        <div fxLayout="column">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="OS" formControlName="os">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="CPU Type" formControlName="cpuType">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Camera" formControlName="camera">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Memory" formControlName="memory">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Screen size" formControlName="screen">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Price" formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Stock" formControlName="stock">
          </mat-form-field>
        </div>
      </form>
      <mat-button-toggle type="submit" (click)="save()">Save</mat-button-toggle >
      <mat-button-toggle routerLink="/smartPhones">Cancel</mat-button-toggle >
    </mat-card>
  </div>
</div>
