<div fxLayout="column"
     fxFill
     fxLayout="10px">
  <div fxLayout="row" fxLayoutAlign="center top">
    <mat-card-header>
      <h2>Update!</h2>
    </mat-card-header>
    <mat-card fxFlex="50">
      <form [formGroup]="userForm" (ngSubmit)="updateUser()">
        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="phoneNumber" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="street">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ZipCode" formControlName="zipCode">
        </mat-form-field>
      </form>
      <mat-button-toggle-group>
        <mat-button-toggle (click)="updateUser()">Update</mat-button-toggle>
        <mat-button-toggle routerLink="/users">Cancel</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card>
  </div>
</div>

