<div *ngIf="phone">
  <div fxLayout="column"
       fxFill
       fxLayout="10px">
    <div fxLayout="row" fxLayoutAlign="center top">
      <mat-card-header>
        <h1>Details</h1>
      </mat-card-header>
      <mat-card fxFlex="50">
        <form [formGroup]="smartPhoneForm">
          <mat-form-field>
            <input matInput placeholder="Id" formControlName="id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="OS" formControlName="os">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="CPU Type" formControlName="cpu">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Camera" formControlName="camera">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Memory" formControlName="memory">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Screen size" formControlName="screen">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Price" formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Stock" formControlName="stock">
          </mat-form-field>
        </form>
      </mat-card>
      <div fxLayout="row">
        <mat-button-toggle routerLink="/smartPhones"><--</mat-button-toggle>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!phone">
  <h2>SmartPhone not found</h2>
  <div fxLayout="row">
    <mat-button-toggle routerLink="/smartPhones"><--</mat-button-toggle>
  </div>
</div>

