<div *ngIf="phone">
  <mat-card-header>
    <h1>{{phone.name}}</h1>
  </mat-card-header>
  <mat-card>
    <mat-card-content>
      <h4>Id: {{phone.id}}</h4>
      <h4>OS: {{phone.os}}</h4>
      <h4>CPU: {{phone.cpuType}}</h4>
      <h4>Camera in Pixels: {{phone.camera}}p</h4>
      <h4>Screen in inch: {{phone.screen}}</h4>
      <h4>Memory in gb: {{phone.memory}}gb</h4>
      <h4>Price: {{phone.price}}dkk</h4>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!phone">
  <h2>SmartPhone not found</h2>
</div>
<div fxLayout="row">
  <mat-button-toggle routerLink="/smartPhones"><--</mat-button-toggle>
</div>
