.mat-button-toggle {
  max-width: 100px;
  background-color: #333333;
  margin: 5px 10px 10px 10px;
}

.mat-card {
  max-width: 650px;
  margin: 10px 10px 10px 10px;
  background-color: #333333;
  color: aliceblue;
}
