<mat-toolbar color="warn">
  <span routerLink="/home">Home</span>
  <span class="spacer"></span>
  <span routerLink="/users">Users</span>
  <span class="spacer"></span>
  <span routerLink="/smartPhones">SmartPhones</span>
  <span class="spacer"></span>
  <span routerLink="/covers">Covers</span>
  <span class="spacer"></span>


  <mat-card fxflex="33" >
    <span routerLink="/home"  *ngIf="checkToken()==false" >login</span>
    <span routerLink="/login" (click)="logout()"   *ngIf="checkToken()==true">logout</span>
  </mat-card>
 
</mat-toolbar>
