.mat-toolbar {
  background-color: #333333;
  color: aliceblue;
}

.mat-card {
  max-width: 400px;
  margin: 10px 10px 10px 10px;
  background-color: #333333;
  color: aliceblue;
}

.mat-button-toggle {
  background-color: #333333;
  margin: 5px 10px 10px 10px;
}
