<div fxLayout="column"
     fxFill
     fxLayout="10px">
  <div fxLayout="row" fxLayoutAlign="center top">
    <mat-card fxFlex="50">
      <form [formGroup]="userForm" (ngSubmit)="AddUser()">
        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="FirstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="LastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="phoneNumber" formControlName="PhoneNumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="Street">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ZipCode" formControlName="ZipCode">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="country" formControlName="Country">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="username" formControlName="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="password"  formControlName="Password">
        </mat-form-field>
      </form>
      <mat-button-toggle-group>
        <mat-button-toggle type="submit" (click)="AddUser()">Save</mat-button-toggle>
        <mat-button-toggle routerLink="/users">Cancel</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card>
  </div>
</div>
