<p>users-update works!</p>
<div fxLayout="column"
     fxFill
     fxLayout="10px">
  <div fxLayout="row">
    <button mat-mini-fab color="primary" routerLink="/users"><--</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center top">
    <mat-card fxFlex="50">
      <form [formGroup]="userForm" (ngSubmit)="AddUser()">
        <mat-form-field>
          <label>
            <input matInput placeholder="FirstName" formControlName="firstName">
          </label>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lastname" formControlName="lastName">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="Email" placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="phoneNumber" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Street" formControlName="street">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ZipCode" formControlName="zipCode">
        </mat-form-field>

      </form>
      <button type="submit" mat-fab color="primary" fxFlexAlign="center right" (click)="AddUser()">Update</button>
      <button type="cancel" mat-fab color="primary" fxFlexAlign="center right" routerLink="/users">Cancel</button>
    </mat-card>
  </div>
</div>

