<div *ngIf="user">
  <div fxLayout="column"
       fxFill
       fxLayout="10px">
    <mat-card-header>
      <h1>Details</h1>
    </mat-card-header>
    <div fxLayout="row" fxLayoutAlign="center top">
      <mat-card fxFlex="50">
        <form [formGroup]="userForm">
          <mat-form-field>
            <input matInput placeholder="Id" formControlName="id">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="phoneNumber" formControlName="phoneNumber">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Street" formControlName="street">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="ZipCode" formControlName="zipCode">
          </mat-form-field>
        </form>
      </mat-card>
      <div fxLayout="row">
        <mat-button-toggle routerLink="/users"><--</mat-button-toggle>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!user">
  <h2>user not found</h2>
  <div fxLayout="row">
    <mat-button-toggle routerLink="/users">Back</mat-button-toggle>
  </div>
</div>

