<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="15px">
  <div fxLayout="row">
    <button mat-raised-button color="accent" routerLink="/smartPhones-add">+</button>

  </div>
  <h4 *ngIf="loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="smart && !loading">
    <div fxFlex="33"
         *ngFor="let smartPhone of smart">
      <mat-card>
        <mat-card-content>
          <div>{{smartPhone.name}}</div>
          <p>ID: {{smartPhone.id}}</p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutGap="5px">
          <span fxFlex></span>
          <button routerLink="/smartPhones/{{smartPhone.id}}"
                  mat-mini-fab
                  color="accent">
            <i class="fas fa-info">Detail</i>
          </button>
          <button routerLink="/smartPhones-update/{{smartPhone.id}}"
                  mat-mini-fab
                  color="primary">
            <i class="fas fa-pencil-alt">Update</i>
          </button>
          <button (click)="delete(smartPhone.id)"
                  mat-mini-fab
                  color="accent">
            <i class="fas fa-trash-alt">Delete</i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

