<div class="container"
     fxLayout="column"
     fxFill
     fxLayoutGap="15px">
  <div fxLayout="row">
    <mat-button-toggle routerLink="/smartPhones-add">+</mat-button-toggle>

  </div>
  <h4 *ngIf="loading"
      fxFill
      fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </h4>
  <div fxLayout="row wrap"
       fxLayoutAlign="start start"
       *ngIf="smart && !loading">
    <div fxFlex="33"
         *ngFor="let smartPhone of smart">
      <mat-card>
        <mat-card-content>
          <div>{{smartPhone.name}}</div>
          <p>ID: {{smartPhone.id}}</p>
          <p>Stock: {{smartPhone.stock}}</p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutGap="5px">
          <span fxFlex></span>
          <mat-button-toggle-group>
            <mat-button-toggle routerLink="/smartPhones/{{smartPhone.id}}">Details</mat-button-toggle>
            <mat-button-toggle routerLink="/smartPhones-update/{{smartPhone.id}}">Update</mat-button-toggle>
            <mat-button-toggle (click)="delete(smartPhone.id)">Delete</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

